# Python cache
__pycache__/
*.pyc

# Virtual environments
.env
venv/
.conda/

# Original input data
data/

# Outputs: ignore everything
outputs/*

# Keep sample run only
!outputs/sample_run/
!outputs/sample_run/*
